# variables

In [1]:
a = 1      #'='은 같다는 것이 아니라, 오른쪽에 있는 정보를 왼쪽에 있는 variable로 assign한다.

In [2]:
print(a)   #print 함수에 변수 a를 입력하면 그 값이 출력된다.

1

In [3]:
#cell을 추가하려면 클릭하고 a, 삭제하려면 x
#cell by cell로 실행된다.(하고 싶은 것만 실행 가능)

In [4]:
a = 2   #variable은 unique하기 때문에, a값은 '1'이 아니라 가장 최근에 저장된 '2'다.

In [5]:
print(a)

2

In [6]:
b = 'love'  #문자를 표현하는 방법은 '' "" 인용부호를 사용한다.

In [7]:
print(b)

love

In [8]:
love = 2  #love라는 변수에 숫자 2를 넣는다.

In [9]:
b = love  #b에 love가 가지고 있는 변수의 내용, 2를 넣는다.

In [10]:
print(b)

2

In [11]:
a = 1
b = 2
b
c = 3
c      #제일 마지막에 있는 변수명을 쓰면, 하나는 보여준다.

3

In [12]:
c

3

In [13]:
a = 1 ; b = 2 ; c = 3

In [14]:
print(a) ; print(b) ; print(c)  #;을 사용하면 1 line에 적을 수 있다.

1
2
3

In [15]:
a = [1, 2, 3, 5]   #여러 값을 하나의 변수에 저장하는 것을 list라고 한다.

In [16]:
type(a)    #()안에는 변수만 사용 가능, type함수는 변수 data의 유형을 출력한다.

list

In [17]:
a = 1 ; type(a)   #int는 정수형 숫자

int

In [18]:
a = 1.2 ; type(a)  #float은 실수형 숫자

float

In [19]:
a = 'love' ; type(a)  #str은 문자

str

In [20]:
a = [1,2,3,5,'love'] ; type(a)   #list에 반드시 숫자만 들어갈 필요는 없다. type에 상관없이 여러 값을 저장할 수 있다.

list

In [21]:
a = [1, 'love', [1,'bye']] ; type(a)   #list 속에 list가 들어갈 수 있다.

list

In [22]:
a = (1,'love') ; type(a)

#모든 list는 []를 사용해야 한다. list와 동일하지만 ()를 쓰는 건, 튜플!

tuple

In [24]:
a = {'a': 'apple', 'b':'banana'} ; type(a)

#{}는 dictionary, '표제어:설명' 두 쌍으로 구성된 원리. str만 쓰는 것 아님! 
#list와 dictionary는 ,로 구분해서 몇 개가 들어있는지 알 수 있다.

dict

좌측 variable에 우측 content를 assign한다. 정보에 해당하는 부분은 숫자와 문자.
숫자는 그냥 적으면 되고, 문자는 '', "" 이용해서 적는다.

하나의 정보를 넣을 수 있지만 여러 정보를 한꺼번에 넣을 수 있다.
[list] - 문자, 숫자, 리스트도 들어갈 수 있고, ','로 구분해준다.
(tuple) - 리스트와 동일한데, 보안적인 측면에서 리스트보다 좋다.
{dictionary} - 리스트와 동일하게 여러 정보를 넣는데, 리스트는 단편적인 정보를 sequence로 넣었으나, dictionary는 pair로 정보를 입력한다.

In [25]:
#어떤 variable 속에 정보가 들어있을 때, 정보를 access해서 사용할 수 있어야 한다!
a = 1 ; b = 1 ; c = a,b

In [26]:
c

(1, 1)

In [27]:
print(c)    #c와 print(c)의 차이는? c의 값이 왜 튜플로 나오지?

(1, 1)

In [28]:
c = a + b ; print(c)   #c에 a가 1, b가 1, 그리고 c가 2라는 정보를 확인할 수 있다.

2

In [29]:
a = [1, 2] ; b = [3, 4]
c = a[0] + b[0]
c

#c[]는 list에서 여러 정보가 있을 때 필요한 정보를 가져올 수 있는 것. 컴퓨터는 0번째부터 시작.

4

type : 숫자(int, float), text(str), list, tuple, dictionary

In [30]:
a = 1; print(type(a))

<class 'int'>

In [31]:
a = 1; a = float(a) ; print(type(a))

<class 'float'>

In [32]:
a = 1.2; a = int(a) ; print(type(a))

<class 'int'>

In [33]:
a = 1.2; a = int(a) ; print(a)

1

In [34]:
a = '123'; print(type(a)); print(a[1])

#어떤 variable의 내부 정보를 이용할 때는 반드시 []를 쓰고, [] 내에 index를 쓴다.
#2라는 문자를 가져온 것이지, 숫자를 가져온 것이 아니다.

<class 'str'>
2

In [46]:
a = 123 ; print(a[1])

TypeError: 'int' object is not subscriptable

In [49]:
a = [123, 124]; print(a[1])

124

In [47]:
a = '123' ; a = list(a)    #str을 하나씩 쪼개서 list화시키는 것.
print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [36]:
a = [1, '2', [3, '4']]  #list 속에 list가 들어간 사례
print(type(a))
print(a[0]) #int
print(a[1]) #str        #print되면 str, int는 차이가 없다?!
print(a[2]) #list

<class 'list'>
1
2
[3, '4']

In [37]:
a = (1, '2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

#list와 access하는 방법이 동일한 tuple

<class 'tuple'>
1
2
[3, '4']

In [38]:
a = {"a": "apple", "b": "orange", "c":2014}
print(type(a))
print(a["a"])

#여러 정보가 한꺼번에 담겨있다는 측면에서 list와 동일하나, 정보가 pair로 들어간다.
#dict access: pair set에서 앞 부분을 access의 index의 수단으로 쓴다.
#print(a["a"]): a의 "a"정보를 가져와라.
#사전은 '표제어:내용'의 pair 구성인데, 표제어로 indexing, access해서 내용을 출력한다.

#표제어가 지금 다 str인데, int로 해도 가능할까? print(a[1]) 출력되나? Yes!

<class 'dict'>
apple

In [50]:
a = [(1,2,3), (3,8,0)]
print(type(a))
a                #a는 전체적으로 list지만 내부적으로 정보는 tuple이다.

<class 'list'>

[(1, 2, 3), (3, 8, 0)]

In [51]:
a[0]

(1, 2, 3)

In [52]:
type(a[0])      #각각의 variable에 대한 type을 물어볼 수도 있다.

tuple

# string

In [53]:
s = 'abcdef'
print(type(s))
print(s[0], s[5], s[-1], s[-6])      #index: 순방향(0부터), 역방향(-1부터)
print(s[1:3], s[1:], s[:3], s[:])    #range해서 여러 정보를 담을 수 있는 slicing':'
#[1:3]은 1에서 3 직전까지, [1:]는 1에서 끝까지, [:3]는 처음부터 3 직전까지, [:]는 전체

<class 'str'>
a f f a
bc bcdef abc abcdef

In [54]:
#str과 list의 정보 access 방식이 동일하다.
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [55]:
len(s)  #len함수는 variable 내에 있는 정보의 개수, 길이

6

In [56]:
len(n)

3

In [57]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [58]:
s.upper()   #upper함수는 s를 upper시키는, 대문자화하는 함수.

'ABCDEF'

In [59]:
s = ' this is a house built this year.\n'
s

#s라는 variable에 str 문장 입력.
#text analysis 기본 유형(access) -> 관련 연구: nlp(nature language process) 자연어처리

' this is a house built this year.\n'

variable.함수() 라고 적으면 함수가 실행이 된다!

'.함수()'가 이미 정의돼 있는 것.

In [60]:
result = s.find('house')   #index of first instance of string t inside s (-1 if not found)
result

#find 함수는 s라는 str variable에서 'house'를 찾아라!
#11번째에서 'house'가 시작되는 것. space 포함해서 11번째 위치.

11

In [61]:
result = s.find('this')   #index of last instance of string t inside s (-1 if not found)
result

#space가 문장 앞에 있으면 문장 첫 단어의 위치는 1, 그렇지 않으면 0.

1

In [62]:
result = s.rindex('this')   #like s.find(t) except it raises ValueError if not found
result

#r은 right 오른쪽에서 count한다는 것.
#rindex는 여러 개 찾아졌을 때 제일 오른쪽 마지막 것을 count해라!(last index)

23

In [63]:
s = s.strip()   #a copy of s without leading or trailing whitespace
s

#strip 함수는 좌우공백 제거하고 순수한 text만 남겨주는 함수.

'this is a house built this year.'

In [64]:
tokens = s.split(' ')   #split s into a list wherever a t is found (whitespace by default)
tokens

#변수 s에는 str 문장이 들어 있는데, 단어별로 쪼개서 list로 만들고 싶을 때 split함수를 사용한다.
#space를 기준으로 단어를 쪼개 list로 만드는 것. 단어들이 ,로 이루어졌다면 ','를 쓰면 된다!

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [65]:
s= ' '.join(tokens)   #combine the words of the text into a string using s as the glue
s

#split과 join함수는 pair로 잘 쓰인다. split함수로 list를 만든 것을, 복구시키고 싶을 때 join함수 사용!
#'(space)'를 이용해서 token에 있던 list들을 join시킨다.

'this is a house built this year.'

In [66]:
s=','.join(tokens)
s

'this,is,a,house,built,this,year.'

In [67]:
s = s.replace('this', 'that')   #replace instance of t with u inside s
s

#str문장 내 모든 'this'를 'that'으로 바꿔라!

'that,is,a,house,built,that,year.'

# syntax

#review

variable assignment '=' 이용해서 정의
variable 종류: number(int, float), str, list, tuple, dictionary<pair>
function은 입력이 들어가고 출력이 나오는 것 (print, len, type)
str과 list는 성격이 비슷하다.

<syntax 문법>
for roof, if condtion.

In [68]:
a = [1, 2, 3, 4]
for i in a:   #for_in_: (in에 있는 a를 1회씩 'for roof' 돌려서 i에 입력)
    print(i)  #조건문 => indent가 반드시 있어야 한다!

1
2
3
4

In [69]:
a = [1, 2, 3, 4]
for i in range(len(a)):  #len(a)=4, range(4) => 0-3까지 list 생성[index 4개]
    print(a[i])

1
2
3
4

In [70]:
a = [1, 2, 3, 4]
for i in range(4):
    print(i)

#range(4)는 0부터 4개의 index를 만드는 것. 우리가 4라고 적은 것은 random하게 적은것
#a의 길이를 적어주면 list의 길이가 바뀜에 따라서, match brown?이 될 수 있으니까 일반적으로 len(a)라고 적는다.

0
1
2
3

for roof
1. list를 그대로 주는 방법 : in 다음에 있는 list가 들어있는 개수만큼 roof를 돌리는 것. 각각의 element들을 in 앞의 variable에 담아준다. for roof가 돌면서 for 다음의 variable이 계속 바뀐다.
2. for 다음에 in 하고 list를 그대로 쓰는 게 아니라, range 함수 사용. range함수는 index를 만들어준다. 그것을 i가 받아서 for roof의 print문이 실행된다.

In [71]:
a = ['red', 'green', 'blue', 'purple']
print(a[0])
print(a[1])
print(a[2])
print(a[3])

#for roof를 사용하지 않고 각각의 원소를 출력하는 법. 비효율적!!

red
green
blue
purple

In [72]:
a = ['red', 'green', 'blue', 'purple']   #str list
for i in a:
    print(i)

red
green
blue
purple

In [73]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

#range 함수를 쓰면 무엇이 바뀌게 될까?

red
green
blue
purple

In [74]:
a = ['red', 'green', 'blue', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for i, j in enumerate(a):
    print("{}: {}%".format(j, b[i]*100))
    
#enumerate: for roof 반복- i에는 index, j는 각각 list의 값들을 받는다.
#format 함수 내 2개가 앞의 {} 안에 입력이 된다.

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

#enumerate 함수

a가 list 4개인 variable인데, 그 list에 번호를 추가로 매겨준다.
for roof에 variable 2개가 있는데, enumberate가 a인데, 번호까지 pair로 있다.
그것을 i,j로 받는다. 첫번째 roof에서 i는 번호를 매겨준 0, j는 red.
    
output 값이 자기자신 list도 되지만, 그것에 대한 번호도 매겨준다.
in 다음에 그냥 a가 있었더라면 i,j말고 1개의 변수만 사용할 수 있다.
enumerate가 번호까지 2개의 변수를 요구한다.

In [83]:
a = ['red', 'green', 'blue', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for i, j in zip(a, b):   #a, b는 반드시 길이가 같은 list가 돼야 한다. zip은 pair set를 만든다.
    print("{}: {}%".format(i, j*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

if condition

In [89]:
a = 0
if a == 0:        #equal sign 2개 == '등호'의 의미와 동일.
    print("yay!")
    print("let's go")    #print의 갯수는 상관없다.

yay!
let's go

In [88]:
a = 0
if a != 0:        #a!=0 (a가 0이 아닌 경우) // 성립하지 않으면 출력되지 않는다.
    print("yay!")

In [90]:
a = 0
if a >= 0:        #(부등호)(equal sign) 순서로 작성, 그렇지 않으면 Error.
    print("yay!")

yay!

In [91]:
a = 0
if a =< 0:       
    print("yay!")

SyntaxError: invalid syntax (<ipython-input-91-00932fae8254>, line 2)

In [92]:
a = 0
if a != 0: 
    print("yay!")
    print("let's go")
else:
    print("no")

no

In [85]:
a = 0
if a == 0:
    print(a)
else:              
    print(a+1)

0

100번의 roof 실행,
각 roof에 대해서 50번의 roof가 또 실행된다.

그러면 총 100*50 = 5,000번의 roof가 실행.

In [94]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [93]:
for i in range(1, 3):
    print(i)         #print 함수는 총 2번 실행.
    for j in range(3, 5):
        print(i*j)   #print함수는 총 4번 실행. <for roof 실행 횟수 확인>


#range(n): 0부터 n-1까지 index 생성.
#range(a,b): a부터 b-1까지 index 생성. 
#indent를 잘 보면 for roof 내 for roof 내 명령 실행
#1번째 for roof는 range= 1,2(2회) -> 2번째 for roof= 3,4(2회) => 총 4회 실행

1
3
4
2
6
8

In [77]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)
            

#j가 4보다 같거나 클 때 for roof 실행. j=3: roof 미실행 => 총 2회 실행
#1번째 for roof: 1,2(2회) => 2번째 for roof: 3,4(2회)
#j가 if 조건 만족 못하면, 4회 실행 아닌, 2회 실행 (j=3)

4
8

In [95]:
for i in range(1, 3):
    if i >=3:
    for j in range(3, 5):
            print(i*j)

IndentationError: expected an indented block (<ipython-input-95-2775b37429d7>, line 3)

In [97]:
for i in range(1, 3):
    if i >=3:
        for j in range(3, 5):
            print(i*j)
            
#i= 1,2 / if 조건문 불만족 -> for roof 미실행
#print out되지 않는 경우와 Error의 경우는 어떻게 다른가?